@font-face {
    font-family: "Microsoft YaHei";
    src:
	    local("MicrosoftYaHei"),
		url("/Odoo_Netping_Sales/static/fonts/MicrosoftYaHei.eot"),
        url("/Odoo_Netping_Sales/static/fonts/MicrosoftYaHei.woff2")format("woff2"),
        url("/Odoo_Netping_Sales/static/fonts/MicrosoftYaHei.woff")format("woff"),
        url("/Odoo_Netping_Sales/static/fonts/MicrosoftYaHei.ttf")format("truetype");
}

div.o_report_layout_standard {
    font-family: Microsoft YaHei;
}